 * {
  margin: 0;
  padding: 0;
  background-color: cornflowerblue;
}


#root{
  color: blue;
  background-color: blueviolet;
}

/* originally added in Campuses.js */
.Campuses{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blue;
  background-color: blueviolet;
}

/* originally added in Students.js */
.Students{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blue;
  background-color: blueviolet;
}

.errorPage{
  background-color: red;
  font-weight: bolder;
}
