*{
  margin: 0;
  padding: 0;
  background-color: cornflowerblue;
}

.campus{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blue;
  background-color: blueviolet;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blue;
  background-color: blueviolet;
}
